/* Global Styles */
html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #faf4ec;
  box-sizing: border-box;
}
/* End Global */

/* Helper Classes */
.is-spaced {
  line-height: 2em;
}
.is-offwhite {
  background-color: #faf4ec;
}
.is-olivegreen {
  background-color: #abb98d;
}
.is-skyblue {
  background-color: skyblue;
}
.is-mont {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.is-mont-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.olive-btn {
  background: #abb98d;
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  border: none;
}
.olive-btn:hover {
  background: #abb98de1;
  color: #4a4a4a;
}
.button.is-link {
  background-color: #abb98d;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.button.is-link:hover {
  background-color: #abb98de1;
}
/* End Helper */

/* ---- Template Styles ---- */
/* Header/Nav */
.header-image {
  max-height: 15em;
  width: auto;
  margin: auto;
  display: block;
}
nav.navbar {
  background-color: #faf4ec;
}
.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: center;
  justify-content: space-between;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #616950;
}

.navbar-menu a {
  color: #4a4a4a;
}
.navbar-item > a {
  padding: 12px 8px;
}
.navbar-item > a:hover {
  background: white;
  color: #616950;
}

.navbar-menu a.navbar-item:hover {
  color: #616950;
}
.nav-container {
  margin: 0 auto;
  max-width: 700px;
}
hr.header-hr {
  width: 45%;
  display: block;
  height: 1.5px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-width: 2px 0px 0px;
  border-image: initial;
  border-top: 2px solid #abb98d; /*Olive Green*/
  margin: 0 auto;
  margin-bottom: 1rem;
}
/* END Header/Nav */

/* Hero/Body */
.hero-body.hero-home {
  background: url("media/Road\ pic.jpg");
  background-size: cover;
  background-position-y: center;
  text-align: center;
}
.hero-body .title {
  color: white;
}
.main-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem 0;
}
.content-btn {
  margin: 1rem auto;
}
/* END Hero/Body */

/* Contact Banner */
.contact-banner {
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}
.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}
.contact-content > h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  display: inline;
}
.banner-btn {
  margin: 0.2rem auto;
}
/* END Contact Banner */

/* Footer */
footer {
  display: block;
  background-color: #abb98d;
}

.footer-container {
  padding: 2rem;
  color: white;
  max-width: 900px;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

footer .attribution {
  margin: auto;
  text-align: center;
  padding: 0.75em;
  background: #4a4a4a;
}

footer .attribution p,
footer .attribution a {
  font-size: 12px;
}
footer .attribution a:hover {
  color: #abb98d;
}

.with-icon {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

.icon {
  min-width: 20px;
}

.icon-text {
  padding-left: 0.7rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 50px;
}

footer p,
footer a {
  font-weight: 300;
  font-size: 14px;
  color: white;
}
/* END Footer */
/* ---- END Template Styles ---- */

/* ---- Additional Styles (Styles for Specific Pages)---- */

/* Home Page */
.home-content {
  text-align: center;
}
/* END Home Page */

/* Contact Page */
.hero-body.hero-contact {
  background: url("media/Road\ pic.jpg");
  background-size: cover;
  background-position-y: center;
  text-align: center;
}
/* END Contact */
/* Misc */

hr {
  width: 6em;
  display: block;
  height: 2px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-width: 2px 0px 0px;
  border-image: initial;
  border-top: 2px solid #abb98d; /*Olive Green*/
  margin: 2rem 0px;
}
/* END Misc */
/* ---- END Additional  ---- */
@media (max-width: 1023px) {
  .navbar-brand {
    flex-direction: column;
  }
  .burger-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin: 0 auto;
    background: #abb98d;
    width: 45%;
    color: white;
  }
  .burger-box h1 {
    margin-left: 10px;
    font-weight: 300;
  }
  .burger-box h1,
  .burger-box a {
    display: inline;
  }
  hr.header-hr {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .olive-btn {
    font-size: 16px;
  }

  .contact-content h1 {
    font-size: 16px;
    text-align: center;
    padding: 0 0.5rem;
  }

  footer .attribution p,
  footer .attribution a {
    font-size: 10px;
  }
  .footer-container {
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .header-image {
    max-width: 300px;
  }
}
/* To fix IE Hover issue */
@media (min-width: 1024px) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }
}
