html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #faf4ec;
  box-sizing: border-box;
}

nav.navbar {
  background-color: #faf4ec;
}
.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: center;
  justify-content: space-between;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #616950;
}

.navbar-menu a {
  color: #4a4a4a;
}
.navbar-item > a {
  padding: 12px 8px;
}
.navbar-item > a:hover {
  background: white;
  color: #616950;
}

.navbar-menu a.navbar-item:hover {
  color: #616950;
}

.home-btn {
  float: left;
  padding: 0;
  margin: 0 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline;
}

.is-offwhite {
  background-color: #faf4ec;
}

.is-olivegreen {
  background-color: #abb98d;
}

.is-skyblue {
  background-color: skyblue;
}

.navbar-item-hover-background-color {
  background-color: skyblue;
}

.nav-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
}

.header-image {
  height: 15em;
  width: auto;
  margin: auto;
  display: block;
}

.hero-body.hero-home {
  background: url("media/Road\ pic.jpg");
  background-size: cover;
  background-position-y: center;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
}

.is-mont {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.is-mont-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

hr.header-hr {
  width: 45%;
  display: block;
  height: 1.5px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-width: 2px 0px 0px;
  border-image: initial;
  border-top: 2px solid #abb98d; /*Olive Green*/
  margin: 0 auto;
  margin-bottom: 1rem;
}

hr {
  width: 6em;
  display: block;
  height: 2px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-width: 2px 0px 0px;
  border-image: initial;
  border-top: 2px solid #abb98d; /*Olive Green*/
  margin: 2rem 0px;
}
.is-spaced {
  line-height: 2em;
}

.main-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem 0;
}

.home-content {
  text-align: center;
}
.olive-btn {
  background: #abb98d;
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: none;
}

.content-btn {
  margin: 1rem auto;
}
.banner-btn {
  margin: 0.2rem auto;
}

.contact-banner {
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}
.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.contact-h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  display: inline;
}

footer {
  display: block;
  background-color: #abb98d;
}

.footer-container {
  padding: 2rem;
  color: white;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

footer .attribution {
  margin: auto;
  text-align: center;
  padding: 0.75em;
  background: #4a4a4a;
}

footer .attribution p,
footer .attribution a {
  font-size: 12px;
}
footer .attribution a:hover {
  color: #abb98d;
}

.with-icon {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}
footer i {
  color: #4a4a4a;
}
.icon {
  min-width: 20px;
}

.icon-text {
  padding-left: 0.7rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 50px;
}

footer p,
footer a {
  font-weight: 300;
  font-size: 14px;
  color: white;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .olive-btn {
    font-size: 16px;
  }

  .contact-h1 {
    font-size: 16px;
    text-align: center;
    padding: 0 0.5rem;
  }

  footer .attribution p,
  footer .attribution a {
    font-size: 10px;
  }
}
